:host {
  display: flex;
  box-shadow: var(--mat-sys-level2);
  padding: 16px;
  justify-content: center;
  z-index: 999;
}

.header {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    display: flex;
    align-items: center;
    gap: 16px;

    h1 {
      text-transform: uppercase;
    }

    app-icon {
      transform: scale(2,2);
    }
  }
}
