<app-card class="statistic-widget" cursor="pointer">
  <header class="statistic-widget__header">
    <h3>Статистика</h3>
    <button matIconButton><app-icon name="more"></app-icon></button>
  </header>
  <div class="statistic-widget__content">
    <p><strong>Поставлено задач:</strong> {{ statistic().tasksTotal }}</p>
    <p><strong>Выполнено задач:</strong> {{ statistic().tasksCompleted }}</p>
    <p><strong>Процент выполнения:</strong> {{ statistic().completedPercent }}</p>
  </div>
</app-card>
