.statistic-widget {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    gap: 16px;

    &__chart {
      width: 200px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-self: center;
    }
  }
}
