:host {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: fit-content;
	cursor: pointer;
}

div {
	justify-content: center;
	align-items: center;
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
