:host {
  display: grid;
  grid-template-rows: 80px 1fr;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content-wrapper{
  display: flex;
  justify-content: center;

  .content {
    width: 100%;
    max-width: 1600px;
    padding: 40px;
  }
}
