:host {
  display: grid;
  grid-template-rows: 80px 1fr;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content-wrapper{
  display: grid;
  justify-items: center;
  overflow-y: auto;
  padding: 40px;

  .content {
    max-width: 1600px;
  }
}
