<app-card class="projects">
  <h3>Фильтры:</h3>
  <mat-form-field>
    <mat-label>Название</mat-label>
    <input matInput [formControl]="nameFormControl" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Статус</mat-label>
    <mat-select [formControl]="statusFormControl">
      <mat-option [value]="null">-</mat-option>
      @for (status of Object.keys(ProjectStatusesEnum); track status) {
        <mat-option [value]="status">{{ status }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <h3>Проекты:</h3>
  @for (project of projects(); track project.id) {
    <h4>{{ project.id }}. {{ project.name }}</h4>
  }
</app-card>
