<app-projects [projects]="projects()" (setFilters)="setFilters($event)" />
<div
  cdkDropList
  cdkDropListOrientation="mixed"
  class="dashboard"
  (cdkDropListDropped)="drop($event)"
>
  @defer (when widgetsService.widget) {
    <app-progress-widget cdkDrag [projects]="projects()" />
  }
  @defer (when widgetsService.widget) {
    <app-statistic-widget cdkDrag [projects]="projects()" />
  }
  @defer (when widgetsService.widget) {
    <app-timeline-widget cdkDrag [projects]="projects()" />
  }
</div>
