.sign-in {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  gap: 16px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &__subtitle {
      text-align: center;
    }
  }

  &__form-field {
    width: 100%;
  }

  &__footer {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}
